@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>PAPSP</title>
    <link href="sobrenos.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="conter-itens">
        <nav class="menu">
            <div>
                @*<a href="PaPSP.html">*@
                   @* <img class="logo" src="Imagens/logo.png">
                </a>
                <h1 id="texto">Ponto a Ponto São Paulo</h1>
                <hr>*@
                <a href="entrar.html">
                    <img class="prof" src="Imagens/profile.png">
                </a>
                <a href="login.html">
                    <img class="fav" src="Imagens/fav.png">
                </a>

            </div>

        </nav>

        @*<nav class="art">*@

            @*<ul>
                <li>
                    <a href="PaPSP.html">Home</a>
                </li>
                <li>
                    <a href="casashow.htm">Casas de Shows</a>
                </li>
                <li>
                    <a href="Esportes.htm">Esportes</a>
                </li>
                <li>
                    <a href="Cultura.htm">Cultura</a>
                </li>
                <li>
                    <a href="Bares.htm">Bares</a>
                </li>
                <li>
                    <a href="#">Restaurantes</a>
                </li>
                <li>
                    <a href="Contato.html">Baladas</a>
                </li>
                <li>
                    <a href="faleconosco.html">Contato</a>
                </li>
                <li>
                    <a href="sobrenos.html">Sobre nós</a>
                </li>
            </ul>
        </nav>*@

        <!-- <input class="retngulo4" type="text" placeholder="Onde quer ir hoje?"/>-->
        @*</hr>*@

        <nav class="line"></nav>
        @*<hr>*@
    </header>
    <div class="missão">

        <h2>Missão</h2>

        <p>
            Promover a cidade de São Paulo como um destino turístico atraente e memorável, fornecendo informações
            precisas e atualizadas sobre os pontos turísticos da cidade e incentivando a exploração cultural dos
            visitantes.
        </p>

    </div>




    <div class="visão">

        <h2>Visão</h2>

        <p>
            Nosso objetivo é tornar São Paulo um dos principais destinos turísticos do Brasil e do mundo, proporcionando
            uma experiência enriquecedora e inesquecível a todos os visitantes, e contribuindo para o crescimento
            econômico e cultural da cidade.
        </p>

    </div>




    <div class="valores">

        <h2>Valores</h2>

        <ul>

            <li>
                <strong>Compromisso com a precisão e confiabilidade:</strong> As informações fornecidas sobre as atrações
                turísticas da cidade são precisas e confiáveis.
            </li>

            <li>
                <strong>Respeito à diversidade cultural e étnica:</strong> Valorizamos a diversidade cultural e étnica da
                cidade de São Paulo.
            </li>

            <li>
                <strong>Incentivo à conservação e preservação:</strong> Incentivamos a conservação e preservação do
                patrimônio natural e cultural da cidade.
            </li>

            <li>
                <strong>Fornecimento de informações acessíveis e úteis:</strong> Fornecemos informações acessíveis e úteis
                para todos os tipos de visitantes, independentemente de sua origem ou interesses.
            </li>

        </ul>

    </div>


</body>

</html>
    
