@*<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="faleconosco.css">
    <title>Fale conosco</title>
</head>
<body>
    <header class="conter-itens">

        <div class="form8">
            <section>

                <nav class="line"></nav>
                <h2>Contato</h2>*@

<form action="https://api.staticforms.xyz/submit" method="post">

    <table>
        <tr>
            <td>
                <h2>Nome</h2>
            </td>
            <td>
                <input type="text" name="name" placeholder="Digite seu nome" autocomplete="off" required>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Email</h2>
            </td>
            <td>
                <input type="email" name="email" placeholder="Digite seu e-mail" autocomplete="off" required>
            </td>
        </tr>

        <tr>
            <td>
                <h2>Mensagem</h2>
            </td>
            <td>
                <textarea name="message" cols="30" rows="10" placeholder="Digite sua mensagem" required></textarea>
            </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
                <button type="submit">Enviar</button>
            </td>
        </tr>



        <input type="hidden" name="accessKey" value="568131cd-d387-43c9-87b1-75315818453a">
        <input type="hidden" name="redirectTo" value="https://localhost:7164/Obrigado/">



    </table>
</form>
@*            </section>
        </div>
    </header>
</body>
</html> *@